#contact
    height: 100vh
    overflow-y: scroll
    .contact-header
        height: 80vh
        background-image: url('../../img/contact/contact.jpg')
        background-size: cover
        background-repeat: no-repeat
        background-position: center
    .my-map
        width: 100%
        height: 50vh
