*
    scroll-behavior: smooth

html
    background-color: $color-one

a, p, button, i, div
    transition: .2s ease

button:focus, input:focus, textarea:focus
    outline: none

.to-top
    background-color: $color-three

#newsletter
    background-color: $color-one
    .newsletter-input
        background-color: $color-one

::-webkit-scrollbar
    width: 10px

::-webkit-scrollbar-track
    background: #272727

::-webkit-scrollbar-thumb
    background: #424242

::-webkit-scrollbar-thumb:hover
    background: #8f8f8f
