#home
    height: 100vh
    overflow-y: scroll
    #header
        height: 80vh
        background-size: cover
        background-position: center
        background-image: url('../../img/header/header.jpg')
    #newsletter
        background-color: $color-one
        .newsletter-input
            background-color: $color-one
