#product
    height: 100vh
    overflow-y: scroll

.img-product-1
    height: 60vh
    background-image: url( '../../img/products/product-1.jpg' )
    background-size: cover
    background-repeat: no-repeat
    background-position: center

.img-product-2
    height: 60vh
    background-image: url( '../../img/products/product-2.jpg' )
    background-size: cover
    background-repeat: no-repeat
    background-position: center

.img-product-3
    height: 60vh
    background-image: url( '../../img/products/product-3.jpg' )
    background-size: cover
    background-repeat: no-repeat
    background-position: center

.img-product-4
    height: 60vh
    background-image: url( '../../img/products/product-4.jpg' )
    background-size: cover
    background-repeat: no-repeat
    background-position: center

.img-product-5
    height: 60vh
    background-image: url( '../../img/products/product-5.jpg' )
    background-size: cover
    background-repeat: no-repeat
    background-position: center

.img-product-6
    height: 60vh
    background-image: url( '../../img/products/product-6.jpg' )
    background-size: cover
    background-repeat: no-repeat
    background-position: center

.img-product-7
    height: 60vh
    background-image: url( '../../img/products/product-7.jpg' )
    background-size: cover
    background-repeat: no-repeat
    background-position: center

.img-product-8
    height: 60vh
    background-image: url( '../../img/products/product-8.jpg' )
    background-size: cover
    background-repeat: no-repeat
    background-position: center

.img-product-9
    height: 60vh
    background-image: url( '../../img/products/product-9.jpg' )
    background-size: cover
    background-repeat: no-repeat
    background-position: center

.img-product-10
    height: 60vh
    background-image: url( '../../img/products/product-10.jpg' )
    background-size: cover
    background-repeat: no-repeat
    background-position: center

.img-product-11
    height: 60vh
    background-image: url( '../../img/header/header.jpg' )
    background-size: cover
    background-repeat: no-repeat
    background-position: center
