#shop
    height: 100vh
    overflow-y: scroll
    .shop-header
        height: 55vh
        background-image: url( '../../img/header/header-shop.jpg' )
        background-size: cover
        background-position: center
        background-repeat: no-repeat

.product-1
    height: 75vh
    background-image: url( '../../img/products/product-1.jpg' )
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    border-bottom: black solid 1px
    border-right: black solid 1px
    &:hover
        filter: brightness( 85% )
        p
            display: block

.product-2
    height: 75vh
    background-image: url( '../../img/products/product-2.jpg' )
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    border-bottom: black solid 1px
    &:hover
        filter: brightness( 85% )
        p
            display: block

.product-3
    height: 75vh
    background-image: url( '../../img/products/product-3.jpg' )
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    border-bottom: black solid 1px
    border-right: black solid 1px
    &:hover
        filter: brightness( 85% )
        p
            display: block

.product-4
    height: 75vh
    background-image: url( '../../img/products/product-4.jpg' )
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    border-bottom: black solid 1px
    &:hover
        filter: brightness( 85% )
        p
            display: block

.product-5
    height: 75vh
    background-image: url( '../../img/products/product-5.jpg' )
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    border-bottom: black solid 1px
    border-right: black solid 1px
    &:hover
        filter: brightness( 85% )
        p
            display: block

.product-6
    height: 75vh
    background-image: url( '../../img/products/product-6.jpg' )
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    border-bottom: black solid 1px
    &:hover
        filter: brightness( 85% )
        p
            display: block

.product-7
    height: 75vh
    background-image: url( '../../img/products/product-7.jpg' )
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    border-bottom: black solid 1px
    border-right: black solid 1px
    &:hover
        filter: brightness( 85% )
        p
            display: block

.product-8
    height: 75vh
    background-image: url( '../../img/products/product-8.jpg' )
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    border-bottom: black solid 1px
    &:hover
        filter: brightness( 85% )
        p
            display: block

.product-9
    height: 75vh
    background-image: url( '../../img/products/product-9.jpg' )
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    border-bottom: black solid 1px
    border-right: black solid 1px
    &:hover
        filter: brightness( 85% )
        p
            display: block

.product-10
    height: 75vh
    background-image: url( '../../img/products/product-10.jpg' )
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    border-bottom: black solid 1px
    &:hover
        filter: brightness( 85% )
        p
            display: block

